.txt-artemis
	{
	font-family:"Google Sans Text","Helvetica Neue",Helvetica,Arial,sans-serif;
	}
.bg-artemis
	{
	background-color: #821526;
	color: #ffffff;
	font-weight: bold;
	font-family:"Google Sans Text","Helvetica Neue",Helvetica,Arial,sans-serif;
	}